<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ticket Detalhe</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Inicio do Card -->
<ion-content fullscreen="true">
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="ticketCards.photo">
      </ion-avatar>
      <ion-label>
        <h3>{{ticketCards.name}}</h3>
        <p>{{ticketCards.date}}</p>
      </ion-label>
    </ion-item>  
    <img [src]="ticketCards.image" alt="ion">
    <ion-card-header>
      <p>TICKET ID - {{ticketCards.id}}</p>
      <ion-card-title>{{ticketCards.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ticketCards.text}}
    </ion-card-content>
    <!-- Botões do card -->
    <ion-footer>
      <ion-row>
        <ion-col center text-center>
          <button>
            <ion-icon class="icon" name="thumbs-up"></ion-icon>
            <div>1.5k Likes</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon class="icon" name="thumbs-down"></ion-icon>
            <div>1.5k Unlikes</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button (click)="hideComment('commntDiv')">
            <ion-icon class="icon" name="chatbubbles"></ion-icon>
            <div>4 Comments</div>
          </button>
        </ion-col>       
      </ion-row>
    </ion-footer>
  </ion-card>
<!-- Fim do card -->

<!-- Início dos inputs de comentário e Botões de envio -->
  <ion-item>
    <ion-input placeholder="Digite seu comentário"  [(ngModel)]="data.text" name="text" ></ion-input>
    <div class="input--file" >
      <span>
        <ion-icon class="icon" name="camera"></ion-icon>
      </span>
      <input (change)="handleInputChange($event)" name="imageUrl" type="file" />
    </div>

    <button  (click)="createComment()">
      <ion-icon class="icon" name="send"></ion-icon>
    </button>    
  </ion-item>
  <!-- Fim inputs de comentário e Botões de envio -->
  
  <!-- Card de Comentários -->
  <ion-card id="commntDiv">
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="ticketCards.image">
      </ion-avatar>
      <ion-label>
        <h3>nome</h3>
        <p>data</p>
      </ion-label>
    </ion-item>  
    <!-- <img [src]="ticketCards.image" alt="ion"> -->
    <ion-card-content>
      <h3 style="color: black;">Texto aqui!!!!!</h3>
    </ion-card-content>    
  </ion-card>
    


</ion-content>
