<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ticket Detalhe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="ticketCards.photo">
      </ion-avatar>
      <ion-label>
        <h3>{{ticketCards.name}}</h3>
        <p>{{ticketCards.date}}</p>
      </ion-label>
    </ion-item>
  
    <img [src]="ticketCards.image" alt="ion">
    <ion-card-header>
      <p>TICKET ID - {{ticketCards.id}}</p>
      <ion-card-title>{{ticketCards.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus iaculis mollis ligula sed ultrices.
    </ion-card-content>
  
    <ion-footer>
      <ion-row>
        <ion-col center text-center>
          <button>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>1.5k Likes</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="text"></ion-icon>
            <div>4 Comments</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="time"></ion-icon>
            <div>11h ago</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-card>


</ion-content>
