<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ticket Detalhe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-card>
    <ion-chip>
      <ion-avatar>
        <img [src]="ticketCards.photo">
      </ion-avatar>
      <ion-label>{{ticketCards.name}}</ion-label>
    </ion-chip>    <ion-card-header>
      <ion-card-subtitle>{{ticketCards.date}}</ion-card-subtitle>
      <ion-card-title>Ticket - {{ticketCards.id}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ticketCards.title}}
    </ion-card-content>
  </ion-card>
</ion-content>
