button {
    background-color: transparent;
}

.icon{
    color:#919191;
    font-size: 20px;
}

button:focus {    
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 


.input--file {
    position: relative;
    color: #7f7f7f;
  }
  
  .input--file input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  